* {
  box-sizing: border-box;
}

body{
  
  background-image:url("images/mur-en-pierre.jpg");
  
  
}
@keyframes float{
  0%{
    transform: translateY(0px);
}
  50%{
    transform: translateY(-10%);
  }
  100%{
    transform: translateY(0px);
  }
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  /*background-color: inherit;*/
  background-image:url("images/mur-en-pierre.jpg");
}

.timeline:after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #e09900;
  left: 50%;
  top: 0;
  bottom: 0;
  margin-left: -2px;
}

.timeline--first:after {
  top: 20px;
}

.era {
  text-align: center;
  position: relative;
  z-index: 1;
  padding-bottom: 20px;
}

.era__title {
  background-color: #e09900;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
}

.entry {
  padding: 10px 30px 40px 30px;
  width: 50%;
  position: relative;
  background-color: inherit;
}

.entry--right {
  margin-left: 50%;
}

.entry__content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
}

.entry:before {
  content: " ";
  height: 0;
  position: absolute;
  top: 20px;
  width: 0;
  z-index: 1;
}

.entry--left:before {
  right: 22px;
  border: medium solid transparent;
  border-width: 8px 0 8px 8px;
  border-color: transparent transparent transparent white;
}

.entry--right:before {
  left: 22px;
  margin-left: 0;
  border: medium solid transparent;
  border-width: 8px 8px 8px 0;
  border-color: transparent white transparent transparent;
}

.entry:after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  right: -19.75px;
  background-color: white;
  border: 4px solid #e09900;
  top: 10px;
  border-radius: 50%;
  z-index: 1;
}

.entry--right:after {
  right: auto;
  left: -18.75px;
}

h2 {
  margin-bottom: 0.5em;
  font-family: sans-serif;
  font-size: 1.2em;
}

p {
  font-family: sans-serif;
  line-height: 1.4;
}

@media all and (max-width: 500px) {
  .timeline:after {
    left: 33.75px;
  }

  .era {
    text-align: left;
    padding-left: 31.875px;
  }

  .entry {
    width: 100%;
    margin-left: 0;
    padding-left: 64px;
    padding-right: 20px;
  }

  .entry:before {
    right: auto;
    left: 56px;
    margin-left: 0;
    border: medium solid transparent;
    border-width: 8px 8px 8px 0;
    border-color: transparent white transparent transparent;
  }

  .entry:after {
    left: 15px;
  }
}

