

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

body{
    /* min-height:100vh; */
    background: liner-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("images/background.avif")no-repeat;
    background-size:cover;
    background-position:center;
    /* background-color: #4f0851; */
    /* background-image:url("images/background.avif"); */
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    /* min-height: 100vh; */
    /* background-image:url("images\background.avif"); */
}
.login-box{
    position:relative;
    width:600px;
    /* height : 300px; */
    background-image:url("imagos/jenet_img_roche\ \(1\).jpg");
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.1);
    border-radius: 30px;
    /* margin:50px; */
    /* /* padding:50px; */
    padding:50px; 
    box-shadow:0 25px 45px rgba(0,0,0,0.2);
    transform-style: preserve-3d;
    perspective:1000px;
    transition: all 0.4 ease;
    
}
.error{
    color:red;
    font-weight: 700;
}
.succes{
    color:white;
    font-weight: 700;
}
/* .login-box:hover{
    transform:scale(1.02) translateY(-5px);
    background: rgba(107,63,255,0.8);
    box-shadow: 0 35px 55px rgba(0,0,0,0.3); */
/* } */
h2{
    color:#fff;
    text-align:center;
    font-size:2em;
    margin-bottom: 30px;
}
label,
textarea {
  font-size: 1,5rem;
  letter-spacing: 1px;
  color:white;
}

textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
  color:black;
}
.input-group{
    position:relative;
    margin-bottom:30px;
    
}
.input-group input{
    width:100%;
    padding:18px 50px 18px 25px;
    /* background:rgba(212, 54, 54, 0.05); */
    border:2 rem solid black;
    outline:none;
    border-radius: 30px;
    color: black;
    font-size: 16px;
    transition:0.3s
    
}
.input-group i{
    position:absolute;
    right:20px;
    top:50%;
    transform: translateY(-50%);
    /* color:rgba(107,63,255,0.8); */
    color:black;
    font-size:18px;
    transition: 0.3s;
    pointer-events: none;
}
.input-group input:focus ~ i{
    color:black;

}
.input-group label{
    position:absolute;
    top:50%;
    left:25px;
    transform:translateY(-50%);
    pointer-events: none;
    transition: 0.3s;
    
}
.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top:-5px;
    left: 15px;
    font-size:12px;
    background: linear-gradient(45deg, #6b3fff, #b88cff);
    padding:2px 10px;
    border-radius: 15px;
} 

/* .input-group input.error{
    color:rgba(215, 23, 23, 0.425);
} */
.remember-forgot{
    display:flex;
    justify-content:space-between;
    margin-bottom:20px;
    color:#fff;
} 
.remember-forgot label{
    display:flex;
    align-items: center;
}
.remember-forgot label input[type="checkbox"]{
    margin-right: 5px;
}
.remember-forgot a {
    color:#fff;
    text-decoration:none;
}
button{
    width:100%;
    padding:18px;
    background: linear-gradient(45deg, #6b3fff, #b88cff);
    border:none;
    /* border-radius:30px; */
    color:#fff;
    font-size:18px;
    cursor:pointer;
    font-weight:600;
    transition: 0.4s;
    /* box-shadow: 0 5px 20px rgba(107,63,255,0.3); */
}
button:hover{
    transform:scale(1.02);
    box-shadow: 0 5px 15px rgba(107,63, 255,0.4);
}
.register-link{
    text-align: center;
    margin-top:20px;
    color:#fff;
}
.register-link a{
    color:#b88cff;
    text-decoration:none;
    font-weight:600;
}
@media(max-width:768px){
    .login-box{
        width:90%;
        max-width:600px;
        padding:30px;
    }
    h2 {
        font-size:1.5em;
    }
    .input-group input{
        padding:12px ;
    }
    button {
       padding:12px; 
    }
}

/* @keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10%);
    }
    100%{
       transform: translateY(0px); 
    }
} */
/* .login-box{
    animation: float 6s ease-in-out infinite;
} */
