  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:"Poppins";
}

body{
    background:url("images\archeo2.PNG")no-repeat;
    background-size: cover;
    background-position:center;
}
.monimage{
    margin-left: 337px;
    border-radius: 50px 50px 50px;
    height: 200px;
}