
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* font-family:"Poppins"; */
}
body {
    display: flex;
    justify-content: center;
    align-items:center;
    /* height: 100vh; */
    /* background-color: #14112b; */
    /* background: url("images/image_jenet_petitCaillou.jpg"); */
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
   

}
.container{
    /* width: 100%;
    max-width:30rem; */
    background-color:transparent;
    /* padding:3rem 2rem; */
    border-radius: 10px;
    border:#ffffff80 solid 2px;
    backdrop-filter:blur(15px);
    color:#fff;

    overflow: hidden;
    position: relative ;
    background: url("images/pers\ archeology.PNG");
}

.wrapper {
    display: flex;
    transition : transform 0.5s ease-in-out;
    width : 200%;
}

section {
    width:50%;
    padding: 2rem;
    box-sizing: border-box;
}
.login, .register {
    flex : 1;
}

.hidden {
    transform:translateX(-50%);
}

h1{
    font-size: 2rem;
    text-align: center;
}
form{
    margin: 2rem 0;
}
.inputbox{
    position:relative;
    margin: 1rem 0;
}

.inputbox input{
    width: 100%;
    height: 3rem;
    border: none;
    outline: none;
    border-bottom: #fff solid 2px;
    background-color: transparent;
    color: #fff;
    font-size:1.5;
    font-weight: 500;
}
.inputbox label {
    position: absolute;
    top: 50%;
    left:0;
}
.inputbox i{
    position: absolute;
    right:5px;
    top:20px;
}
input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.forgot{
    display: flex;
    justify-content:center;
}
.forgot a{
    text-decoration : none;
    font-size: 1rem;
    margin-left : 4px;
    text-transform: lowercase;
    color:#fff;
    font-weight: 600;

}
.forgot a:hover{
    text-decoration:underline;
}
#but{
    cursor:pointer;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    border : none;
    /* outline: none; */
    border-radius: 2rem;
    margin: 1.5rem 0; 
    transition: 0.4s;

}
#but:hover{
    transform:scale(1.02);
    box-shadow: 0 5px 15px rgba(107,63, 255,0.4);
}
button{
    cursor:pointer;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    font-weight: 600;
    border : none;
    /* outline: none; */
    border-radius: 2rem;
    margin: 1.5rem 0; 
    transition: 0.4s;
}
button:hover{
     transform:scale(1.02);
    box-shadow: 0 5px 15px rgba(107,63, 255,0.4);
}

.register-option{
    display:flex;
    justify-content:center;
}
.register-option a{
    text-decoration: none;
    color:#fff;
    font-weight:600;
    margin-left:4px;
}

.register-option a:hover{
    text-decoration:inderline ;
}

@media(max-width:768px){
    .login-box{
        width:90%;
        max-width:600px;
        padding:30px;
    }
    h2 {
        font-size:1.5em;
    }
    .input-group input{
        padding:12px ;
    }
    button {
       padding:12px; 
    }
}
   